@using System.Linq

@{
    ViewBag.Title = "Movie Viewer";
}

@model MovieViewer.ViewModel.MoviesViewModel

<div class="row">
    <div class="col-sm-12 panel panel-info">
        <!-- Panel title -->
        <div class="panel-heading" style="text-align:center">
            Movie Viewer
        </div>
        <!-- Panel body -->
        <div class="panel-body">

            <div class="row">
                <!---Popular Movies List-->
                <div class="col-lg-4">
                    @foreach (var item in Model.movies)
                    {
                        <div id="@item.id" onclick="loadImage(id)">
                            <label hidden id="@item.id poster">@item.poster_path</label>
                            <label hidden id="@item.id overview">@item.overview</label>
                            <label hidden id="@item.id title">@item.title</label>
                            @item.title<br />
                        </div>
                    }
                    <label hidden id="pageNum">@Model.pageNum</label>
                    @*<div class="col-lg-2"></div>*@

                    <div class="col-lg-3">
                        @Html.ActionLink("First", "Index", "Home", new { page = 1 }, new { @class = "btn btn-default pageBtn" })
                    </div>
                    <div class="col-lg-3">
                        @Html.ActionLink("Previous", "Index", "Home", new { page = Model.pageNum - 1 }, new { @class = "btn btn-default pageBtn" })
                    </div>
                    <div class="col-lg-3">
                        @Html.ActionLink("Next", "Index", "Home", new { page = Model.pageNum + 1 }, new { @class = "btn btn-default pageBtn" })
                    </div>
                    <div class="col-lg-3">
                        @Html.ActionLink("Last", "Index", "Home", new { page = 500 }, new { @class = "btn btn-default pageBtn" })
                    </div>
                    <div class="centerAl"> Page - @Model.pageNum</div>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-6">
                        <label id="selMovieId" hidden>@Model.selectedMovieID</label>
                        <h2  id="movieTitle"></h2>
                        <img id="imagePoster" src="" />
                        <p id="movieDescr"></p>
                    </div>
                </div>
            </div>       
    </div>
</div>





